<!--Header Area Start-->
<header>
  <div class="header-container">
    <!--Default Header Area Start-->
    <div class="default-header-area header-absolute header-style-2">
      <div class="container">
        <div class="row align-items-center">
          <!--Header Logo Start-->
          <div class="col-lg-2">
            <div class="logo header-logo-2">
              <a href="index.html">
                <img src="assets/img/logo/logo2.png" alt="">
              </a>
            </div>
          </div>
          <!--Header Logo Start-->
          <!--Header Menu Start-->`
          <div class="col-lg-10 ">
            <!--Menu Header Top Area Start-->
            <div class="menu-header-top-area">
              <div class="row">

                <div class="col-md-12 col-lg-12">
                  <div class="ht-right-menu">
                    <ul>
                      <li>
                        <a href="contact.html">Home</a>
                      </li>
                      <li>
                        <a href="/shop">Shop</a>
                      </li>
                      <li>
                        <a href="wishlist.html">Wishlist</a>
                      </li>

                      <li>
                        <a href="checkout.html">Checkout</a>
                      </li>
                      <li class="cart-option2">
                        <a href="#">
                          <span class="cart-title">My Cart</span>

                        </a>
                        <!--Cart Dropdown Start-->
                        <ul class="cart-dropdown">
                          <li class="single-cart-item">
                            <div class="cart-img">
                              <a href="single-product.html">
                                <img src="assets/img/cart/cart1.jpg" alt="">
                              </a>
                            </div>
                            <div class="cart-content">
                              <h5 class="product-name">
                                <a href="single-product.html">Blue, White Or As Per Requirement Polyester & Poly-Cotton
                                  Mens Full-Sleeve Shirt</a>
                              </h5>
                              <span class="cart-price">1 ×
                                <i class="fa fa-inr"></i> 282.00</span>
                            </div>
                            <div class="cart-remove">
                              <a title="Remove" href="#">
                                <i class="fa fa-times"></i>
                              </a>
                            </div>
                          </li>
                          <li class="single-cart-item">
                            <div class="cart-img">
                              <a href="single-product.html">
                                <img src="assets/img/cart/cart2.jpg" alt="">
                              </a>
                            </div>
                            <div class="cart-content">
                              <h5 class="product-name">
                                <a href="single-product.html">Cotton Formal Full Sleeves Solid Dyed Gents Shirts</a>
                              </h5>
                              <span class="cart-price">1 ×
                                <i class="fa fa-inr"></i> 400.00</span>
                            </div>
                            <div class="cart-remove">
                              <a title="Remove" href="#">
                                <i class="fa fa-times"></i>
                              </a>
                            </div>
                          </li>
                          <li>
                            <p class="cart-subtotal">
                              <strong>Subtotal:</strong>
                              <span class="float-right total-amount">
                                <i class="fa fa-inr"></i> 682.00</span>
                            </p>
                            <p class="cart-btn">
                              <a href="cart.html">View cart</a>
                              <a href="checkout.html">Checkout</a>
                            </p>
                          </li>
                        </ul>
                        <!--Cart Dropdown End-->
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--Menu Header Top Area End-->

          </div>
          <!--Header Menu End-->
        </div>
        <div class="row">
          <div class="col-12">
            <!--Mobile Menu Area Start-->
            <div class="mobile-menu d-lg-none d-xl-none"></div>
            <!--Mobile Menu Area End-->
          </div>
        </div>
      </div>
    </div>
    <!--Default Header Area End-->
  </div>
</header>
<!--Header Area End-->
