/* http://grandetest.com/theme/linda-html/product-full-width.html */

.header {
  background-color: #20224a;
  padding: 10px;
}

ul.Menu {
  list-style: none;
  color: #ccc;
  margin: 0;
  padding-top: 5px;
  text-align: right;
}

ul.Menu li {
  display: inline-block;
  margin-left: 30px;
}

ul.Menu li a {
  text-decoration: none;
  color: #d6d8d7;
}

.logo {
  font-weight: 900;
  font-size: 34px;
  color: #fdbe01;
  margin: 0;
}

.Menu li.user {
  font-size: 22px;
  color: #e0e0e0
}

.Menu li.cart {
  font-size: 22px;
  color: #c39300;
  margin-top: 3px;
  position: relative;
}

.Menu li.cart:hover>.cartDrpDown {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  visibility: visible;
}

li.cart span {
  position: absolute;
  top: -11px;
  font-size: 11px;
  left: 2px;
  border-radius: 100px;
  background: #5f6079;
  width: 22px;
  height: 22px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  z-index: 1;
}

.cartDrpDown {
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  width: 350px;
  max-height: 400px;
  height: auto;
  background-color: #ffffff;
  position: absolute;
  display: block;
  text-align: left;
  /* border: 1px solid #20224a; */
  margin: 0px;
  padding: 0px;
  right: -15px;
  top: 44px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 0px 5px 0px #c5c5c5;
}

ul.cartDrpDown li {
  display: block !important;
  margin: 0;
  padding: 0px 15px;
}

ul.cartDrpDown li a {
  display: block;
  font-size: 14px;
  color: #20224a;
  padding: 7px 0px;
}
