<div class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="logo">MTailor</h1>
      </div>

      <div class="col-lg-9">
        <ul class="Menu">
          <li class="user">
            <i class="fas fa-user-lock"></i>
          </li>
          <li class="cart">
            <span class="count">22</span>
            <i class="fas fa-shopping-basket"></i>
            <div class="cartDrpDown">
              <h4>Shopping Cart</h4>
              <ul>
                <li>
                  <a href="" class="thumb">
                    <img class="img-fluid" src="http://susindhufashion.com/assets/media/slider-tumbnails/main/2.png" alt="">
                  </a>
                  <span class="cartProDetails">
                    <p>Product 1 title for testing</p>
                    <span class="qty">1 X 555</span>
                    <a href="">
                      Remove
                    </a>
                  </span>

                </li>
                <li>
                  <a href="" class="thumb">
                    <img class="img-fluid" src="http://susindhufashion.com/assets/media/slider-tumbnails/main/2.png" alt="">
                  </a>
                  <span class="cartProDetails">
                    <p>Product 1 title for testing</p>
                    <span class="qty">1 X 555</span>
                    <a href="">
                      Remove
                    </a>
                  </span>

                </li>
              </ul>
            </div>

          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
