<header class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="logo">MTailor</h1>
      </div>

      <div class="col-lg-9">
        <ul class="Menu">
          <li class="user">
            <i class="fas fa-user-lock"></i>
          </li>
          <li class="cart">
            <span class="count">22</span>
            <i class="fas fa-shopping-basket"></i>
            <div class="cartDrpDown">
              <h4 class="title">Shopping Cart</h4>
              <ul class="cartBox">
                <li>
                  <div class="thumb">
                    <img alt="Mtailor" src="assets/images/2.jpg">
                  </div>

                  <div class="cartProDetails">
                    <span class="protitle">
                      Black Mtailor slim fit
                    </span>
                    <span>2 X
                      <strong>350 Rs</strong>
                    </span>
                    <span class="removefromCart">
                      Remove
                    </span>
                  </div>
                </li>

                <li>
                  <div class="thumb">
                    <img alt="Mtailor" src="assets/images/2.jpg">
                  </div>

                  <div class="cartProDetails">
                    <span class="protitle">
                      Black Mtailor slim fit
                    </span>
                    <span>2 X
                      <strong>350 Rs</strong>
                    </span>
                    <span class="removefromCart">
                      Remove
                    </span>
                  </div>
                </li>
                <li>
                  <div class="thumb">
                    <img alt="Mtailor" src="assets/images/2.jpg">
                  </div>

                  <div class="cartProDetails">
                    <span class="protitle">
                      Black Mtailor slim fit shirt
                    </span>
                    <span>2 X
                      <strong>350 Rs</strong>
                    </span>
                    <span class="removefromCart">
                      Remove
                    </span>
                  </div>
                </li>
              </ul>
              <div class="subtotal">
                <h5>Subtotal :
                  <span> 750 Rs</span>
                </h5>
              </div>
              <div class="cartbtns">
                <button>View Cart</button>
                <button>Checkout</button>
              </div>
            </div>



          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
