<div class="wrapper">
  <div class="page-wrapper">
    <!--Breadcrumb Start-->
    <div class="breadcrumb-Area mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb-content">
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">Cart</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Breadcrumb End-->

    <!--Shopping Cart Area Strat-->
    <div class="Shopping-cart-area mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form action="#">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="colora-product-remove">remove</th>
                      <th class="colora-product-thumbnail">images</th>
                      <th class="cart-product-name">Product</th>
                      <th class="colora-product-price">Unit Price</th>
                      <th class="colora-product-quantity">Quantity</th>
                      <th class="colora-product-subtotal">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="colora-product-remove">
                        <a href="#">
                          <i class="fa fa-times"></i>
                        </a>
                      </td>
                      <td class="colora-product-thumbnail">
                        <a href="#">
                          <img src="assets/img/cart/cart1.jpg" alt="">
                        </a>
                      </td>
                      <td class="colora-product-name">
                        <a href="#">Aliquam lobortis est</a>
                      </td>
                      <td class="colora-product-price">
                        <span class="amount">$70.00</span>
                      </td>
                      <td class="colora-product-quantity">
                        <input value="1" type="number">
                      </td>
                      <td class="product-subtotal">
                        <span class="amount">$70.00</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="colora-product-remove">
                        <a href="#">
                          <i class="fa fa-times"></i>
                        </a>
                      </td>
                      <td class="colora-product-thumbnail">
                        <a href="#">
                          <img src="assets/img/cart/cart2.jpg" alt="">
                        </a>
                      </td>
                      <td class="colora-product-name">
                        <a href="#">Cras neque metus</a>
                      </td>
                      <td class="colora-product-price">
                        <span class="amount">$60.50</span>
                      </td>
                      <td class="colora-product-quantity">
                        <input value="1" type="number">
                      </td>
                      <td class="product-subtotal">
                        <span class="amount">$60.50</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="coupon-all">
                    <div class="coupon">
                      <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                      <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                    </div>
                    <div class="coupon2">
                      <input class="button" name="update_cart" value="Update cart" type="submit">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <div class="cart-page-total">
                    <h2>Cart totals</h2>
                    <ul>
                      <li>Subtotal
                        <span>$130.00</span>
                      </li>
                      <li>Total
                        <span>$130.00</span>
                      </li>
                    </ul>
                    <a href="#">Proceed to checkout</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Shopping Cart Area End-->

  </div>
</div>
