/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~swiper/dist/css/swiper.min.css'; */

@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css";
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abel', sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 3px #fff;
  box-shadow: inset 0 0 0 3px #fff;
  border-radius: 10px;
  background: #9c9c9c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 239, 190, 0.603);
  -webkit-box-shadow: inset 0 0 9px rgb(207, 190, 31);
  box-shadow: inset 0 0 9px rgb(233, 219, 18);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #ffffff;
}

.pgCont {
  padding: 90px 0px;
}

.pgCont h4 {
  color: #fdbe01;
  margin-bottom: 25px;
  font-weight: 500;
  padding: 4px 0px;
  font-size: 30px;
  border-bottom: 1px solid #ddd;
}
