<!-- <div class="swiper-container" [swiper]="config">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <img width="100%" src="assets/images/slide1.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img width="100%" src="assets/images/slide3.jpg" alt="">
    </div>
    <div class="swiper-slide">
      <img width="100%" src="assets/images/slide2.jpg" alt="">
    </div>

  </div>
  <div class="swiper-scrollbar"></div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div> -->

<div class="container pgCont">
  <h4>Best Seller</h4>
  <div class="row">

    <!-- <div class="col-lg-3 product-item">
      <div class="product-inner">
        <div class="product-thumb">
          <div class="flashs">
            <span class="onsale">-10%</span>
          </div>
          <div class="thumb-inner">
            <a class="thumb-link" href="#">
              <img width="270" height="349" class="lazy" src="assets/images/p1.jpg" alt="img">
            </a>
          </div>
          <div class="group-button">
            <div class="compare-button">
              <a data-toggle="modal" data-target="#modal-compare" href="#" class="compare button" rel="nofollow">Compare</a>
            </div>
            <div class="yith-wcwl-add-to-wishlist">
              <div class="show sk-display-block">
                <a href="#" rel="nofollow" class="add_to_wishlist">Add to Wishlist</a>
                <img src="images/wpspin_light.gif" class="ajax-loading linda-visibility-hidden" alt="loading" width="16" height="16">
              </div>
              <div class="yith-wcwl-wishlistaddedbrowse hide sk-display-none">
                <span class="feedback">added!</span>
                <a href="#" rel="nofollow">Browse Wishlist</a>
              </div>

              <div class="linda-clear-both"></div>

            </div>
            <div class="clear"></div>
            <a rel="nofollow" href="#" class="button add_to_cart_button">Add to cart</a>
          </div>

        </div>
        <div class="product-innfo">
          <h3 class="product-name">
            <a href="#">Armani Green</a>
          </h3>
          <span class="price">
            <span>
              <del>
                <span class="amount">$50.00</span>
              </del>
              <ins>
                <span class="amount">$45.00</span>
              </ins>
            </span>
          </span>
          <div class="color-display">
            <span class=" swatch swatch-color color-one"></span>
            <span class=" swatch swatch-color color-two"></span>
            <span class=" swatch swatch-color color-three"></span>
            <span class=" swatch swatch-color color-four"></span>
          </div>
        </div>
      </div>
    </div> -->


    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="inStock">2 In Stock</div>
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
          <div class="btnCart">
            <i class="fas fa-shopping-basket"></i> Add to Cart
            <!-- <i class="fas fa-eye"></i> -->
          </div>
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 proContainer">
      <div class="proContent">
        <div class="thumb">
          <img class="img-fluid" src="assets/images/p1.jpg" alt="img">
        </div>
        <div class="proDetails">
          <h4>Product Title</h4>
          <span class="price">45</span>
          <ul class="colors">
            <li class="red"></li>
            <li class="green"></li>
            <li class="blue"></li>
            <li class="black"></li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>
