<div class="wrapper">
  <div class="page-wrapper">
    <!--Breadcrumb Start-->
    <div class="breadcrumb-Area mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb-content">
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">Product Name</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Breadcrumb End-->

    <!--Single Product Area Start-->
    <div class="single-product-area mb-75">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-5">
            <div class="product-details-img-tab">
              <!--Product Tab Content Start-->
              <div class="tab-content single-product-img">
                <div class="tab-pane fade show active" id="product1">
                  <div class="product-large-thumb img-full">
                    <div class="easyzoom easyzoom--overlay">
                      <a href="img/single-product/zoom-img/zoom-product1.jpg">
                        <img src="assets/img/single-product/large/product1.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="product2">
                  <div class="product-large-thumb img-full">
                    <div class="easyzoom easyzoom--overlay">
                      <a href="img/single-product/zoom-img/zoom-product2.jpg">
                        <img src="assets/img/single-product/large/product2.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="product3">
                  <div class="product-large-thumb img-full">
                    <div class="easyzoom easyzoom--overlay">
                      <a href="img/single-product/zoom-img/zoom-product3.jpg">
                        <img src="assets/img/single-product/large/product3.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="product4">
                  <div class="product-large-thumb img-full">
                    <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/single-product/zoom-assets/img/zoom-product4.jpg">
                        <img src="assets/img/single-product/large/product4.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="product5">
                  <div class="product-large-thumb img-full">
                    <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/single-product/zoom-assets/img/zoom-product5.jpg">
                        <img src="assets/img/single-product/large/product5.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="product6">
                  <div class="product-large-thumb img-full">
                    <div class="easyzoom easyzoom--overlay">
                      <a href="assets/img/single-product/zoom-assets/img/zoom-product6.jpg">
                        <img src="assets/img/single-product/large/product6.jpg" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!--Product Tab Content End-->
              <!--Product Tab Menu Start-->
              <div class="product-menu">
                <div class="nav single-product-tab-menu">
                  <div class="product-details-img">
                    <a class="active" data-toggle="tab" href="#product1">
                      <img src="assets/img/single-product/small/sm-product1.jpg" alt="">
                    </a>
                  </div>
                  <div class="product-details-img">
                    <a data-toggle="tab" href="#product2">
                      <img src="assets/img/single-product/small/sm-product2.jpg" alt="">
                    </a>
                  </div>
                  <div class="product-details-img">
                    <a data-toggle="tab" href="#product3">
                      <img src="assets/img/single-product/small/sm-product3.jpg" alt="">
                    </a>
                  </div>
                  <div class="product-details-img">
                    <a data-toggle="tab" href="#product4">
                      <img src="assets/img/single-product/small/sm-product4.jpg" alt="">
                    </a>
                  </div>
                  <div class="product-details-img">
                    <a data-toggle="tab" href="#product5">
                      <img src="assets/img/single-product/small/sm-product5.jpg" alt="">
                    </a>
                  </div>
                  <div class="product-details-img">
                    <a data-toggle="tab" href="#product6">
                      <img src="assets/img/single-product/small/sm-product6.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <!--Product Tab Menu End-->
            </div>
          </div>
          <div class="col-md-12 col-lg-7">
            <!--Product Details Content Start-->
            <div class="product-details-content">
              <!--Product Nav Start-->
              <div class="product-nav">
                <a href="#">
                  <i class="fa fa-angle-left"></i>
                </a>
                <a href="#">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
              <!--Product Nav End-->
              <h2>Sit voluptatem</h2>
              <div class="single-product-reviews">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <a class="review-link" href="#">(1 customer review)</a>
              </div>
              <div class="product-price">
                <span class="price">$515.00</span>
              </div>
              <div class="product-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec
                  non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate
                  adipiscing cursus eu, suscipit id nulla.</p>
              </div>
              <p class="stock in-stock">150 in stock</p>
              <div class="single-product-quantity">
                <form class="add-quantity" action="#">
                  <div class="product-quantity">
                    <input value="1" type="number">
                  </div>
                  <div class="add-to-link">
                    <button class="product-btn" data-text="add to cart">add to cart</button>
                  </div>
                </form>
              </div>
              <div class="wishlist-compare-btn">
                <a href="#" class="wishlist-btn">Add to Wishlist</a>
                <a href="#" class="add-compare">Compare</a>
              </div>
              <div class="product-meta">
                <span class="posted-in">
                  Categories:
                  <a href="#">Fruit</a>,
                  <a href="#">Vegetable</a>
                </span>
              </div>
              <div class="single-product-sharing">
                <h3>Share this product</h3>
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!--Product Details Content End-->
          </div>
        </div>
      </div>
    </div>
    <!--Single Product Area End-->
    <!--Product Description Review Area Start-->
    <div class="product-description-review-area mb-55">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="product-review-tab">
              <!--Review And Description Tab Menu Start-->
              <ul class="nav dec-and-review-menu">
                <li>
                  <a class="active" data-toggle="tab" href="#description">Description</a>
                </li>
                <li>
                  <a data-toggle="tab" href="#reviews">Reviews (1)</a>
                </li>
              </ul>
              <!--Review And Description Tab Menu End-->
              <!--Review And Description Tab Content Start-->
              <div class="tab-content product-review-content-tab" id="myTabContent-4">
                <div class="tab-pane fade active show" id="description">
                  <div class="single-product-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor.
                      Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus
                      mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                    <p>Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros
                      eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate,
                      sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit
                      odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus,
                      in imperdiet ligula euismod eget.</p>
                  </div>
                </div>
                <div class="tab-pane fade" id="reviews">
                  <div class="review-page-comment">
                    <h2>1 review for Sit voluptatem</h2>
                    <ul>
                      <li>
                        <div class="product-comment">
                          <img src="assets/img/icon/author.png" alt="">
                          <div class="product-comment-content">
                            <div class="product-reviews">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                            <p class="meta">
                              <strong>Admin</strong> -
                              <span>November 22, 2016</span>
                              <div class="description">
                                <p>Good Product</p>
                              </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="review-form-wrapper">
                      <div class="review-form">
                        <span class="comment-reply-title">Add a review </span>
                        <form action="#">
                          <p class="comment-notes">
                            <span id="email-notes">Your email address will not be published.</span>
                            Required fields are marked
                            <span class="required">*</span>
                          </p>
                          <div class="comment-form-rating">
                            <label>Your rating</label>
                            <div class="rating">
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                          </div>
                          <div class="input-element">
                            <div class="comment-form-comment">
                              <label>Comment</label>
                              <textarea name="message" cols="40" rows="8"></textarea>
                            </div>
                            <div class="review-comment-form-author">
                              <label>Name </label>
                              <input required="required" type="text">
                            </div>
                            <div class="review-comment-form-email">
                              <label>Email </label>
                              <input required="required" type="text">
                            </div>
                            <div class="comment-submit">
                              <button type="submit" class="form-button">Submit</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Review And Description Tab Content End-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Product Description Review Area Start-->


  </div>
</div>
